<header>
  <div class="logo">
    <div class="overlay">
      <div class="label">logo</div>
    </div>
    <img src="/images/logo2.png" width="100%" />
  </div>
  <nav>
    <ul>
      <li><span class="icon fa fa-walking"></span><a href="/">example #1</a></li>
      <li>
        <span class="icon fa fa-plane"></span><a href="/fast">example #2</a>
      </li>
    </ul>
  </nav>
</header>
<hr />