<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

  <defs>
    <symbol id="icon-walking2" viewBox="0 0 320 512">
      <title>walking</title>
      <path fill="currentColor"
        d="M208 96c26.5 0 48-21.5 48-48S234.5 0 208 0s-48 21.5-48 48 21.5 48 48 48zm94.5 149.1l-23.3-11.8-9.7-29.4c-14.7-44.6-55.7-75.8-102.2-75.9-36-.1-55.9 10.1-93.3 25.2-21.6 8.7-39.3 25.2-49.7 46.2L17.6 213c-7.8 15.8-1.5 35 14.2 42.9 15.6 7.9 34.6 1.5 42.5-14.3L81 228c3.5-7 9.3-12.5 16.5-15.4l26.8-10.8-15.2 60.7c-5.2 20.8.4 42.9 14.9 58.8l59.9 65.4c7.2 7.9 12.3 17.4 14.9 27.7l18.3 73.3c4.3 17.1 21.7 27.6 38.8 23.3 17.1-4.3 27.6-21.7 23.3-38.8l-22.2-89c-2.6-10.3-7.7-19.9-14.9-27.7l-45.5-49.7 17.2-68.7 5.5 16.5c5.3 16.1 16.7 29.4 31.7 37l23.3 11.8c15.6 7.9 34.6 1.5 42.5-14.3 7.7-15.7 1.4-35.1-14.3-43zM73.6 385.8c-3.2 8.1-8 15.4-14.2 21.5l-50 50.1c-12.5 12.5-12.5 32.8 0 45.3s32.7 12.5 45.2 0l59.4-59.4c6.1-6.1 10.9-13.4 14.2-21.5l13.5-33.8c-55.3-60.3-38.7-41.8-47.4-53.7l-20.7 51.5z">
      </path>
    </symbol>
    <symbol id="icon-plane2" viewBox="0 0 576 512">
      <title>walking</title>
      <path fill="currentColor"
        d="M480 192H365.71L260.61 8.06A16.014 16.014 0 0 0 246.71 0h-65.5c-10.63 0-18.3 10.17-15.38 20.39L214.86 192H112l-43.2-57.6c-3.02-4.03-7.77-6.4-12.8-6.4H16.01C5.6 128-2.04 137.78.49 147.88L32 256 .49 364.12C-2.04 374.22 5.6 384 16.01 384H56c5.04 0 9.78-2.37 12.8-6.4L112 320h102.86l-49.03 171.6c-2.92 10.22 4.75 20.4 15.38 20.4h65.5c5.74 0 11.04-3.08 13.89-8.06L365.71 320H480c35.35 0 96-28.65 96-64s-60.65-64-96-64z">
      </path>
    </symbol>

    <symbol id="icon-walking" viewBox="0 0 20 32">
      <title>walking</title>
      <path
        d="M5.925 21.738l0.069 0.088 2.262 2.094-0.844 2.106c-0.275 0.688-0.681 1.313-1.212 1.844l-3.65 3.656c-0.287 0.294-0.675 0.438-1.056 0.438s-0.762-0.144-1.056-0.438c-0.588-0.581-0.588-1.531 0-2.119l3.65-3.656c0.244-0.238 0.431-0.525 0.556-0.838l1.275-3.188c0 0.006 0.006 0.012 0.006 0.012zM12.988 6c-1.656 0-2.994-1.344-2.994-3s1.337-3 2.994-3c1.65 0 2.994 1.344 2.994 3s-1.338 3-2.994 3zM19.531 16.931c1.425 1.412-0.725 3.5-2.119 2.156l-1.831-1.813c-0.394-0.394-0.688-0.869-0.863-1.387-0.894-2.675-0.9-2.856-1.363-3.463l-1.637 6.55 3.363 3.1c0.813 0.756 1.375 1.725 1.625 2.806l1.219 5.294c0.188 0.806-0.313 1.613-1.119 1.8-0.894 0.2-1.631-0.406-1.794-1.125l-1.219-5.3c-0.113-0.494-0.369-0.931-0.738-1.275l-4.938-4.563c-0.913-0.988-1.225-2.231-0.931-3.413l1.238-4.95c-0.7 0.225-1.412 0.525-2.769 1.069-0.619 0.25-1.125 0.712-1.425 1.313l-0.875 1.9c-0.838 1.806-3.55 0.531-2.719-1.262l0.9-1.944c0.644-1.294 1.706-2.275 3.013-2.8 2.669-1.075 3.806-1.625 5.981-1.625 2.838 0 5.338 1.806 6.238 4.5l0.806 2.425c0.025 0.075 0.069 0.144 0.125 0.2z">
      </path>
    </symbol>
    <symbol id="icon-plane" viewBox="0 0 36 32">
      <title>plane</title>
      <path
        d="M14.973 3h-2.321l3.143 11h-7.295l-2.25-3h-2.583l1.458 5-1.458 5h2.583l2.25-3h7.295l-3.143 11h2.321l6.286-11h7.241c1.627 0 3.929-1.233 4.444-2-0.514-0.767-2.817-2-4.444-2h-7.241zM16.134 0c0.32 0 0.709 0.226 0.868 0.504l5.998 10.496h5.5c2.761 0 7.5 2.238 7.5 5s-4.739 5-7.5 5h-5.5l-5.999 10.496c-0.178 0.311-0.509 0.504-0.868 0.504h-6.133c-0.664 0-1.144-0.636-0.961-1.275l2.779-9.725h-1.818l-1.95 2.6c-0.189 0.252-0.485 0.4-0.8 0.4h-6.249c-0.651 0-1.128-0.611-0.97-1.242l1.969-6.758-1.969-6.758c-0.158-0.631 0.319-1.242 0.97-1.242h6.249c0.314 0 0.611 0.148 0.8 0.4l1.95 2.6h1.817l-2.778-9.726c-0.182-0.639 0.297-1.274 0.961-1.274h6.133z">
      </path>
    </symbol>
  </defs>

  <header>
    <div class="logo">
      <div class="overlay">
        <div class="label">logo</div>
      </div>
      <img src="/images/logo_opt.png" width="100%" />
    </div>
    <nav>
      <ul>
        <li><span><svg class="icon icon-walking fast">
              <use xlink:href="#icon-walking2"></use>
            </svg></span><a href="/">example #1</a>
        </li>
        <li>
          <span><svg class="icon icon-plane fast plane">
              <use xlink:href="#icon-plane2"></use>
            </svg></span><a href="/fast">example #2</a>
        </li>
      </ul>
    </nav>
  </header>
  <hr />