<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mock - 1</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.js"></script>


  <link rel="stylesheet" href="/css/normalize.css" />

  <!-- <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
  <!-- <link rel="stylesheet" href="/css/icons.css" /> -->

  <link rel="stylesheet" href="/css/all/main.css" />

  <script src="https://unpkg.com/axios/dist/axios.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />

  <script src="http://localhost:4001/3rdparty/all" crossorigin></script>
</head>

<body>
  <div class="content-wrapper">
    <%- include('partials/header.ejs') %>
    <section class="hero">
      <div class="overlay">
        <div class="label">hero image</div>
      </div>
      <img src="images/hero.png" />
    </section>
    <h1>Example # 1</h1>
    <p class="description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <div class="list">
      <div id="react-root"></div>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
  <script src="js/products.v1.js"></script>
</body>