<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Mock - 1</title>
  <link rel="stylesheet" href="/css/normalize.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.js"></script>

  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />

  <link rel="stylesheet" href="/css/main.css" />
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <!-- axios min 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  -->
  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <!-- <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet"> -->
  <script src="/js/3rd-party.js"></script>


  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Open+Sans+Condensed:300|Pacifico"
    rel="stylesheet" />
  <!-- <link rel="stylesheet" href="/css/icons.css" /> -->

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-WFNXKM9");
  </script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <div class="content-wrapper">
    <%- include('partials/header.ejs') %>
    <section class="hero">
      <div class="overlay">
        <div class="label">hero image</div>
      </div>
      <img src="images/hero.png" width="1024" />
    </section>
    <h1>Example # 1</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
    <div class="list">
      <div id="react-root"></div>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
  <script src="js/products.js"></script>
</body>