<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Mock - 1</title>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <div class="content-wrapper">
    <%- include('partials/header.ejs') %>
    <div class="hero">
      <div class="overlay"><div class="label">hero image</div></div>
      <img src="images/hero.png" />
    </div>
    <h1>Example # 1</h1>
    <div class="list">
      <ul>
        <li>
          <img src="images/1.png" alt="ninja 1" />
          <div class="title">#1</div>
        </li>
        <li>
          <img src="images/2.png" alt="ninja 2" />
          <div class="title">#2</div>
        </li>
        <li>
          <img src="images/3.png" alt="ninja 3" />
          <div class="title">#3</div>
        </li>
        <li>
          <img src="images/4.png" alt="ninja 4" />
          <div class="title">#4</div>
        </li>

        <li>
          <img src="images/5.png" alt="ninja 5" />
          <div class="title">#5</div>
        </li>
        <li>
          <img src="images/6.png" alt="ninja 6" />
          <div class="title">#6</div>
        </li>
        <li>
          <img src="images/7.png" alt="ninja 7" />
          <div class="title">#7</div>
        </li>
        <li>
          <img src="images/8.png" alt="ninja 8" />
          <div class="title">#8</div>
        </li>
        <li>
          <img src="images/9.png" alt="ninja 9" />
          <div class="title">#9</div>
        </li>
        <li>
          <img src="images/10.png" alt="ninja 10" />
          <div class="title">#10</div>
        </li>
        <li>
          <img src="images/11.png" alt="ninja 11" />
          <div class="title">#11</div>
        </li>
        <li>
          <img src="images/12.png" alt="ninja 12" />
          <div class="title">#12</div>
        </li>
      </ul>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
