html,
body {
  height: 100%;
  margin: 0;
  font: 16px Sans-Serif;
}

* {
  box-sizing: border-box;
  position: relative;
}

.logo {
  width: 300px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  min-height: 100%;
  margin-bottom: -250px;
  padding: 20px;
  padding-bottom: 300px;
}

.footer {
  height: 250px;
  background: #80c565;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  flex: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list {
  padding: 40px;
}

.list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list li {
  flex-direction: column;
  margin-bottom: 150px;
  color: white;
  background: #002b55;
  padding: 80px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  justify-content: center;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.overlay .label {
  background-color: #002b55;
  color: #80c565;
  padding: 10px;
  text-transform: uppercase;
}
